<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="/static/libgif.js"></script>
		<!-- <script type="text/javascript" src="/static/rubbable.js"></script> -->
        <script type="text/javascript" src="/static/airlocksse.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>
			Example gif
		</title>
	</head>

	<body>
		<center>
			<h1>Example</h1>
			<img id="example1" rel:animated_src="/static/airlock2.gif" rel:auto_play="0" />

		</center>
        <div id="event"></div>
	</body>

</html>
