<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Chart.js</title>

<script src='static/Chart.min.js'></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script> -->

</head>
<body>

<!-- bar chart canvas element -->
<canvas id="chart" width="600" height="400"></canvas>
<canvas id="chart2" width="600" height="400"></canvas>

<form>
    <div>
        <label for="begin">Date de début</label>
        <input id="begin" type="date" name="begindate" required>
        <span class="validity"></span>
    </div>
    <div>
        <label for="end">Date de fin</label>
        <input id="end" type="date" name="enddate" required>
        <span class="validity"></span>
    </div>
    <div>
        <input type="submit" value="Afficher">
    </div>
</form>

<script>
   // bar chart data
   {% if time %}
   {% if temp %}
   {% if gravity %}
   var linedata = {
   labels : [{% for item in time %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in gravity %}
                  {{item}},
                {% endfor %}]
        }
    ]
   }

   var linedata2 = {
   labels : [{% for item in time %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in temp %}
                  {{item}},
                {% endfor %}]
        }
    ]
   }
   {% endif %}
   {% endif %}
   {% endif %}

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
   var mychart2 = document.getElementById("chart2").getContext("2d");

   // draw bar chart
   new Chart(mychart).Line(linedata, {});
   new Chart(mychart2).Line(linedata2, {});

</script>

</body>
</html>
